
.prodselect {
    width: 70%;
    height: 50vh;
    border: 1px solid #000;
    position: absolute;
    top: 30vh;
    left: 5vw;
    right: 5vw;
    padding: 30px;
    display: flex;
}

.pimg {
    height: 40vh;
    width: 17vw;
    position: relative;
    top: 30vh;
    left: 15vw;
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.288);
    border-radius: 10px
}

.pimg img {
    background: cover;
    height: 30vh;
    margin-top: 4vh;
    margin-left: 1vw;
}

.pdesc {
    height: 10vh;
    width: 20vw;
    margin-left: 35vw;
    position: relative;
    margin-top: -10vh;
}

.valor {
    height: 10vh;
    width: 20vw;
    margin-left: 35vw;
    position: relative;
}

.valor p {
    font-size: 1.5rem;
    color: #53c052;
    font-weight: bold;
}

.pdesc p {
    font-size: 1.4rem;
}

.resumoped {
    position: relative;
    left: 59vw;
    height: 25vh;
    width: 16vw;
    border: 1px solid rgba(92, 89, 89, 0.397);
    top: -19vh;
}

.pagamento {
    width: 15vw;
    margin-left: 35vw;
    position: relative;
    margin-top: -5vh;
}

.principal {
    background: black;
    height: 60vh;
    width: 80%;
    margin-top: 20vh;
    margin-left: 10vw;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.397);
    border-radius: 5px 25px 5px 25px
}

.presumo {
    height: 5vh;
    border-bottom: 1px solid rgba(92, 89, 89, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.subt {
    height: 5vh;
    border-bottom: 1px solid rgba(92, 89, 89, 0.397);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.total {
    height: 5vh;
    border-bottom: 1px solid rgba(92, 89, 89, 0.397);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.ptotal {
    font-size: 1.35rem;
    font-weight: bold;
}

.barra {
    width: 38.6%;
    height: 5vh;
    border: 1px solid rgba(92, 89, 89, 0.397);
    border-top: none;
    position: relative;
    left: 2vw;
    top: 27.3vh;
    padding: 15px;
}

.barra p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.fecharped {
    margin: 50px;
}

.fecharped button {
    height: 4vh;
    width: 7vw;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    background: #000000;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 7vh;
    left: -4px;
}

.fecharped2 {
    text-align: center;
}

.fecharped2 button {
    height: 6vh;
    width: 7vw;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: #173EC7;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    position: relative;
    top: 7vh;
    left: -3.9vw;
    text-align: center;
}

.pp{
    position: relative;
    top: 20vh;
    left: 21vw;
    color: #173EC7;
    font-weight: bold;
    font-size: 1.4rem;
    width: 40vw;
    text-transform: uppercase;
}

.lineprodutos2 {
    display: grid;
    grid-template-columns: 310px 310px 310px 310px;
    position: relative;
    top: 25vh;
    left: 20vw;
    width: 25vw;
}

.produto {
    height: 50vh;
    width: 14vw;
    margin-left: 10vws;
    /* background: rgb(138, 133, 133); */
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.288);
}

.produto:hover {
    box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, 0.288);
    transition: all 200ms ease;
}

.imagemprod img{
    height: 33vh;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
    margin-top: 10px;
}

.descprod {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.descprod button {
    width: 60%;
    height: 3vh;
    margin-top: 3.5vh;
    background: #173EC7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.descprod a {
    text-decoration: none;
    color: white;
}

.p1 {
    margin-top: 2vh;
}

.p2 {
    margin-top: 2vh;
}
.titulo {
    position: relative;
    top: 15vh;
    left: 20vw;
    width: 60vw
}
.pt1 {

    position: relative;
    width: 60vw;
    font-size: 50px;
    text-align: center;
}
.titulo h2{
    position: relative;
    text-align: center;
}
.pval {
    position: relative;
    left: 8vw;
}