main {
    height: 90vh;
}

.principal {
    background: black;
    height: 60vh;
    width: 55%;
    margin-top: 25vh;
    margin-left: 20vw;
    box-shadow: 0 0 40px 10px rgba(0,0,0,0.397);
    border-radius: 10px;
}

.dtp {
    color: #173EC7;
    position: relative;
    top: -10vh;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.meucarrinho p {
    position: relative;
    top: 20vh;
    left: 12vw;
    color: #173EC7;
    font-weight: bold;
    font-size: 1.4rem;
    width: 40vw;
    text-transform: uppercase;
}

.prodselect {
    width: 70%;
    height: 50vh;
    border: 1px solid #000;
    position: absolute;
    top: 30vh;
    left: 15vw;
    right: 5vw;
    padding: 30px;
    display: flex;
}
.pimg {
    height: 70vh;
    width: 17vw;
    position: relative;
    left: 5vw;
    top: 10vh;
}

.pimg img {
    background: cover;
    height: 40vh;
    margin-top: 4vh;
}

.pdesc {
    height: 10vh;
    width: 20vw;
    margin-left: 25vw;
    position: relative;
    margin-top: -56vh;
    color: white;
}

.valor {
    height: 10vh;
    width: 20vw;
    margin-left: 25vw;
    position: relative;
}

.valor p {
    font-size: 1.7rem;
    color: #53c052;
    font-weight: bold;
}

.pdesc p {
    font-size: 1.5rem;
}

.resumoped {
    position: relative;
    left: 55vw;
    top: -30vh;
    height: 23vh;
    width: 20vw;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 5px;
}

.presumo {
    height: 4vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.subt {
    height: 5vh;
    border-bottom: 1px solid rgba(92, 89, 89, 0.397);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.total {
    height: 5vh;
    border-bottom: 1px solid rgba(92, 89, 89, 0.397);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.ptotal {
    font-size: 1.35rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.pval {
    color: #53c052;
}

.barra {
    width: 38.6%;
    height: 5vh;
    border: 1px solid rgba(92, 89, 89, 0.397);
    border-top: none;
    position: relative;
    left: 15vw;
    top: 27.3vh;
    padding: 15px;
}

.barra p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.fecharped {
    margin: 20px;
}

.fecharped button {
    height: 4vh;
    width: 7vw;
    display: flex;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    background: #173EC7;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
}

.dp {
    font-size: 1.5rem;
    color: #173EC7
}

.dados {
    margin-top: 15vh;
    margin-left: 20vw;
    text-transform: uppercase;
}

.cpf {
    margin-top: 6vh;
}

.cpf input {
    height: 4vh;
    width: 12vw;
    border-radius: 5px;
    border: 1px solid rgba(36, 35, 35, 0.438);
    margin-top: 1vh;
    padding: 10px;
}

.entrega {
    margin-top: 4vh;
}

.entrega input {
    height: 4vh;
    width: 12vw;
    border-radius: 5px;
    border: 1px solid rgba(36, 35, 35, 0.438);
    margin-top: 1vh;
    padding: 10px;
}

.nomeentrega {
    margin-top: 4vh;
}

.nomeentrega input {
    height: 4vh;
    width: 12vw;
    border-radius: 5px;
    border: 1px solid rgba(36, 35, 35, 0.438);
    margin-top: 1vh;
    padding: 10px;
}

.weightnews {
    height: 12vh;
    width: 100%;
    background: #173EC7;
    position: relative;
    top: 40vh;
    color: white;
}

.divweight {
    position: absolute;
    left: 15vw;
    top: 3vh;
}

.divweightemail {
    position: absolute;
    right: 10vw;
}

.divweightemail input {
    width: 27vw;
    height: 6vh;
    border-radius: 27px;
    outline: none;
    border: none;
    margin-top: 3vh;
    padding: 20px;
}

.divweightemail button {
    position: absolute;
    right: 0vw;
    top: 3.01vh;
    height: 5.9vh;
    width: 6vw;
    border-radius: 27px;
    border: none;
    cursor: pointer;
    background: #53C052;
    color: white;
    font-size: 0.9rem;
}

.lines {
    display: flex;
    margin-top: -9vh;
    width: 100%;
}

.linha1 {
    height: 3px;
    width: 4vw;
    background: #53c052;
}

.linha2 {
    height: 3px;
    width: 60vw;
    background: #00000046;
    margin-left: 1vw;
    opacity: 0.5;
}